[Unit]
Description=AmRoute AirPi
Wants=network-online.target
After=network-online.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/AMMavroute
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 amroute-airpi.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
